	/* Resets  */
    @import url(fontawesome-all.min.css);
    @import url("https://fonts.googleapis.com/css?family=Raleway:200,700|Source+Sans+Pro:300,600,300italic,600italic");
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      
      body,
      html {
        font-size: 16.5pt;
        font-family: "Source Sans Pro", Helvetica, sans-serif;
      }
      
      main {
        padding: 1rem 10rem;
      }
      
      .main__header {
        padding-bottom: 21rem;
      }
      
      .main__headline {
        margin-bottom: 0.5rem;
      }
      
      /* Card styles follow */
      
      :root {
        --card-height: 21rem;
        --teal: #62a4ab;
        --white: #fefefe;
        --shadow-small: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.15),
          -0.0625rem -0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
        --shadow-medium: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15),
          -0.125rem -0.125rem 0.25rem rgba(0, 0, 0, 0.1);
        --card-radius: 0.21rem;
      }
      
.flip-box {
  background-color: transparent;
  width: 400px;
  height: 200px;
  border: 0px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
  display: grid;
  overflow: hidden;
  
  
}

.flip-box-back {
  background-color: #555;
  color: white;
  transform: rotateY(180deg);
}      
.text {
      padding-top: 3rem ;
			
			font-size: 26px;
			line-height: 2.5;
      text-align: center;
		}

.container {
  padding-top: 2rem;
  display: block;
  align-items: center;
		}
.container_list {
  padding-left: 15.0rem;
  display: inline-block;
  align-items: center;
		}
.card__name {
  align-self: end;
  background: var(--teal);
  color: var(--white);
  font-size: 0.81rem;
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  letter-spacing: 0.05rem;
  margin-bottom: 0.0rem;
  padding: 0.25rem 1.5rem 0.3rem 0.5rem;
  text-align: start;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}
.card__image {
  grid-column: 1;
  grid-row: 1;
  height: var(--card-height);
  object-fit: cover;
  width: 100%;
}
ul li{
  display: inline-block;
  padding-left: 2rem;
  padding-bottom: 2rem;
}

/* Button */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}